$bgcolor: #282c34;
$font: "Monaco", monospace;
$colortext: #d8d4cf;

@mixin mpnone {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: $colortext;
}

body {
  background-color: $bgcolor;
  font-family: $font;
  font-size: 120%;
  color: $colortext;
  @include mpnone();
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: $colortext;

}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  ul {
    @include mpnone();
    display: flex;
    li {
      list-style: none;
      &:hover {
        background-color: blueviolet;
        transition: color .4s ease;
        color: $colortext;
        }
      }
      a {
        text-decoration: none;
        color: $colortext;
        padding: 1rem;
        display: block;
        transition: color .4s ease;
      }
   }
}

.toggle-btn {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  .bar {
    height: 3px;
    width: 100%;
    background-color: $colortext;
    border-radius: 10px;
  }
}

@media (max-width: 600px) {
  .toggle-btn {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    ul {
      width: 100%;
      flex-direction: column;

    }
    li {
      text-align: center;
      a {
        padding: .5rem 1rem
      }
    }
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links.active {
    display: flex;
  }
}

.content {
  margin: 2rem;
  img {
    max-width: 100%;
    height: auto;
  }
}

footer {
  background-color: black;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: $colortext;
}

.footer-content {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px
  h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
  }
  p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 2.3rem 2rem 0;
    li {
      margin: 0 10px;
      a {
        text-decoration: none;
        color: $colortext;
        &:hover {
          color: blueviolet;
        }
        i {
          font-size: 1.8rem;
          transition: color .4s ease;

        }
      }
    }
  }
}

.footer-bottom {
  background: black;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    a {
      text-decoration: none;
    }
    span {
      text-transform: uppercase;
      opacity: .7;
      font-weight: 200;
    }
  }
}
